body {
  background-color: #eeeeee;
  color: #ccc;
  font-family: Calibri;
  font-size: 1.25vw;
}

a {
  margin: 10px;
  font-size: 2vw;
  text-decoration: none;
  color: #476072;
}

form {
  margin: 0;
  height: 60px;
}

h1 {
  font-family: Arial;
  font-size: 5.25vw;
  font-weight: 600;
  color: #548ca8;
  margin: 0;
  grid-column-start: 2;
  grid-row-start: 1;
}

input {
  background-color: azure;
  border: 2px solid black;
}

label {
  font-weight: 600;
  color: #548ca8;
  font-size: 30px;
  text-align: center;
  vertical-align: -2px;
  margin: 5px;
}

.addButton {
  background-color: #548ca8;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: rgb(123, 195, 40);
  color: black;
  font-weight: bold;
}

.container {
  height: 95vh;
  display: grid;
  background-color: #eeeeee;
  width: 100vw;
  text-align: center;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.checklistIcon {
  margin-top: 0.5vw;
  height: 5vw;
  width: 5vw;
  grid-column-start: 2;
  grid-row-start: 1;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}

.navbar {
  margin-top: 0px;
  width: fit-content;
  /* border: 5px solid black; */
}

.removeButton {
  color: #fff;
  font-weight: 600;
  background-color: #548ca8;
  border-radius: 5px;
  cursor: pointer;
}

.sortButton {
  background-color: #548ca8;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.todoList {
  border: 5px solid white;
  border-radius: 20px;
  background-color: #334257;
  color: #aeefec;
  padding: 50px 40px;
  width: fit-content;
  margin-left: 2vw;
  grid-column-start: 2;
}

@media (max-width: 500px) {
  input {
    width: 50vw;
  }
  .removeButton {
    font-size: 6vw;
  }
}
